@font-face {
  font-family: OpenSans-Bold;
  src: url("../font/OpenSans-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: OpenSans-Regular;
  src: url("../font/OpenSans-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: OpenSans-Regular, OpenSans-Bold, sans-serif;
}

.popup_conteiner {
  position: fixed;
  display: none;
  flex-direction: column;
  content: "";
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  font-size: 85%;
  background: rgba(0, 0, 0, 0.5);
}

.popup_block {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6;
  display: flex;
  flex-direction: column;
  max-width: 33em;
  max-height: 53em;
  margin: auto;
  padding-top: 1em;
  padding-right: 3em;
  padding-left: 3em;
  padding-bottom: 8em;
  background-color: #ffffff;
}

.popup_img {
  position: absolute;
  top: -5%;
  right: 0;
  bottom: 1rem;
  width: 2em;
  height: 2em;
}

.popup_title {
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  font-family: OpenSans-bold;
  font-size: 2em;
  text-transform: uppercase;
  color: #000000;
}

.popup_title::after {
  position: relative;
  top: 0.8rem;
  content: '';
  display: block;
  height: 0.3em;
  width: 3em;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  background: #d7d7d7;
}

.form_hint {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-family: OpenSans-Regular;
  text-transform: none;
  font-size: 1.6em;
}

.form_select {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 3.6em;
  padding-left: 1.9rem;
  margin-bottom: 3.1rem;
  border: none;
  background-color: #f4f7f6;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-size: 0.8em;
  background-position: right 1em center;
}

.form_select:focus {
  outline: none;
  border-bottom: 2px solid #ebe7d7;
}

.form_name {
  font-family: OpenSans-Regular;
  font-size: 13px;
}

.form_row {
  display: flex;
  flex-direction: column;
}

.radio_group {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

.input {
  display: flex;
  margin-right: 1rem;
}

.radio {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  display: flex;
  margin-right: 1rem;
}

.radio_group_text {
  display: flex;
  font-size: 1.5em;
  align-items: center;
}

.radio_group_text::before {
  display: flex;
  margin-right: 0.3rem;
  width: 1.3em;
  height: 1.3em;
  content: "";
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1em;
}

.radio:checked~.radio_group_text::before {
  background-image: url("../svg/form-circle.svg");
}

.fild {
  max-height: 8em;
  min-height: 8em;
  max-width: 93%;
  min-width: 93%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-top: 1.6rem;
  padding-left: 1.8rem;
  background-color: #f4f7f6;
  color: inherit;
}

.popup_btn {
  height: 3.5em;
  width: 100%;
  margin-bottom: 5.4rem;
  border: none;
  font-family: OpenSans-bold;
  font-size: 1.4em;
  text-transform: uppercase;
  background-color: #b59f5b;
  color: #ffffff;
}

.header {
  position: relative;
  display: block;
  padding-top: 3rem;
  padding-bottom: 9.5rem;

  background-image: url("../image/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #000000;
  object-fit: cover;
}

.header::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.header_container {
  position: relative;
  display: flex;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  z-index: 4;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  width: 17em;
}

.header_menu {
  display: flex;
  font-family: OpenSans-Regular;
  text-transform: uppercase;
}

#menu-toggle {
  display: none;
}

.menu_list {
  display: flex;
  list-style-type: none;
}

.menu_list_item {
  display: flex;
  font-size: 1.1em;
}

.menu_list_item:nth-child(n+2) {
  margin-left: 4.2rem;
}

.menu_link {
  text-decoration: none;
  color: #ffffff;
}

.menu_link:hover {
  text-decoration: underline;
  color: #ffffff;
}

.header_title {
  position: relative;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 72em;
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.7;
}

.header_title_text {
  z-index: 3;
  flex-direction: column;
  font-family: OpenSans-Bold;
  font-size: 4.5em;
  text-transform: uppercase;
  color: #ffffff;
}

.trends {
  display: block;
  margin-top: 4rem;
  font-size: 140%;
}

.trends_header {

  padding-bottom: 2rem;
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4em;
  color: #000000;
}

.trends_header::after {
  position: relative;
  content: '';
  top: 8px;
  display: block;
  height: 3px;
  width: 5%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  background: #e1d9bd
}

.block_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.trends_card {
  position: relative;
  min-height: 50px;
  width: 24.8%;
  font-size: 1em;
  color: #ffffff;
}

.trends_card::after {
  content: "";
  width: 100%;
  height: 98%;
  background-color: rgba(29, 29, 29, 0.45);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.card__img {
  width: 100%;
}

.card_body {
  position: absolute;
  left: 1.1em;
  right: 1.1em;
  bottom: 1.4em;
  z-index: 2;
  padding: 3rem;
  border: 3px solid #ffffff;
}

.card_category {
  display: flex;
  margin-top: 0;
  margin-bottom: 0.2rem;
  padding: 0;
}

.category_link {
  padding-right: 1.25em;
  font-size: 1.1em;
  list-style-type: none;
}

.link {
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #b59f5b;
}

.card_title {
  display: flex;
  align-items: flex-end;
}

.card_text {
  margin: 0;
  font-size: 1.5em;
}

.card_text_link {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.container {
  display: flex;
  max-width: 120em;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  margin-top: 5.8rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.main_block {
  display: block;
  max-width: 78.8rem;
}

.main_content {
  display: flex;
  padding-bottom: 6rem;
  overflow: hidden;
  justify-content: flex-start;
}

.main_content_img {
  display: block;
  max-width: 100em;
  object-fit: cover;
}

.main_img_post {

}

.main_category {
  display: block;
  margin-left: 2.7rem;
}

.main_link {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.main_link_item {
  display: flex;
  letter-spacing: normal;
  text-transform: uppercase;
  list-style-type: none;
}

.main_link_item:nth-child(n+2) {
  margin-left: 18px;
}

.link_item {
  font-family: OpenSans-Bold;
  font-size: 1.4rem;
  text-decoration: none;
  color: #b59f5b;
}

.main_news {
  display: block;
}

.main_news_title {
  margin: 0;
}

.main_title {
  display: flex;
  font-family: OpenSans-Bold;
  font-weight: 700;
  font-size: 1.34em;
  line-height: 1.2;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 0.5rem;
  color: #0f0d0e;
}

.main_date {
  display: flex;
  margin-top: 2.7rem;
  font-family: OpenSans-Regular;
  font-size: 1.2em;
  color: #929292;
}

.datetime {
  font-size: 1.87em;
}

.author {
  margin-top: 0;
  margin-left: 1em;
  margin-bottom: 0;
  font-family: OpenSans-Bold;
  font-size: 1em;
  color: #000000;
}

.main_text {
  display: block;
  font-family: OpenSans-Regular;
  line-height: 1.5;
  font-size: 1.7em;
  margin-top: 3rem;
  padding-left: 0.1em;
  color: #0f0d0e;
}

.main_text2 {
  margin: 0;
  font-family: OpenSans-Regular;
  font-size: 1.7em;
}

.aside_block {
  display: block;
  max-width: 27.3em;
  margin-left: 12rem;
}

.aside_title {
  margin: 0;
  font-family: OpenSans-Bold;
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
}

.aside_title::after {
  content: '';
  display: block;
  height: 3px;
  position: relative;
  width: 23%;
  max-width: 300px;
  top: 10px;
  margin-left: auto;
  margin-right: auto;
  background: #e1d9bd;
}

.aside_category {
  display: flex;
  margin-top: 4em;
}

.aside_category:nth-child(2n+1) {
  margin-top: 1.9rem;
}

.aside_category:nth-child(3n+1) {
  margin-top: 1.9rem;
}

.aside_category:nth-child(5n+1) {
  margin-top: 1.9rem;
}

.aside_img {
  width: 7em;
}

.aside_post {
  display: block;
  flex-wrap: wrap;
  margin-left: 1.8rem;
  max-width: 22em;
}

.aside_date {
  font-family: OpenSans-Regular;
  font-size: 1.2em;
  color: #bfbfbf;
}

.aside_post_list {
  margin: 0;
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  line-height: 1.3;
  font-size: 1.4em;
}

.aside_post_list_title {
  text-decoration: none;
  color: #585858;
}

.aside_post_list_title:hover {
  color: #000000;
}

.page_search {
  margin-top: 5.6rem;
  width: 100%;
}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search_group {
  display: flex;
  width: 89%;
  text-align: right;
  color: #818382;
}

.search_hint {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.field {
  display: flex;
  font-family: OpenSans-Regular;
  box-sizing: border-box;
  background: #f4f7f6;
  border: none;
  padding-left: 18px;
  padding-right: 10px;
  height: 48px;
  width: 100%;
  font-size: 13px;
}

.field:hover {
  outline: none;
}

.field:focus {
  outline: none;
  border-bottom: 5px solid #ebe7d7;
}

.search_button {
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #b59f5b;
  background-size: 21px 21px;
  border: none;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.search_button:focus {
  outline: none;
}

.mail_block {
  display: block;
  margin-top: 5.8rem;
}

.mail_title {
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  font-size: 140%;
  text-align: center;
  color: #0f0d0e;
}

.mail_title::after {
  content: '';
  display: block;
  position: relative;
  height: 3px;
  width: 66px;
  max-width: 300px;
  top: 10px;
  margin-left: auto;
  margin-right: auto;
  background: #d7d7d7;
}

.mail_hint {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.field_mail {
  height: 3.3em;
  width: 88%;
  border: none;
  padding-right: 1.3em;
  padding-left: 1.3em;
  background: #f4f7f6;
}

.field_mail:focus {
  outline: none;
  border-bottom: 2px solid #ebe7d7;
}

.mail_link_item {
  display: block;
  font-family: OpenSans-Regular;
  font-size: 1.3em;
  margin-top: 3.4rem;
  margin-bottom: 1.8rem;
  outline: none;
  color: #a2a4a3;
}

.mail_button_link {
  font-family: OpenSans-Bold;
  height: 3.45em;
  width: 99%;
  border: none;
  font-size: 1.4em;
  text-transform: uppercase;
  cursor: pointer;
  background: #b59f5b;
  color: #ffffff;
}

.mail_button:focus {
  outline: none;
  border-top: 2px solid #b9b29b;
}

.tags {
  display: block;
  margin-top: 1.4em;
}

.tags_title {
  font-family: OpenSans-Bold;
  padding-top: 4rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4em;
  color: #0f0d0e;
}

.tags_title::after {
  content: '';
  display: block;
  position: relative;
  height: 3px;
  width: 24%;
  max-width: 300px;
  top: 6px;
  left: 38.5%;
  background: #d7d7d7;
}

.tags_wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3.5rem;
  padding-left: 0;
  align-items: flex-start;
}

.tags_link {
  box-sizing: border-box;
  padding: 4px 13px;
  border: 3px solid #eeeeee;
  font-size: 1.2em;
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: normal;
  margin-bottom: 5px;
  margin-right: 5px;
}

.tags_link_item {
  font-family: OpenSans-Bold;
  text-decoration: none;
  color: #0f0d0e;
}

.tags_link_item:hover {
  font-family: OpenSans-Bold;
  color: #000000;
}

.theme {
  display: block;
  margin-top: 49px;
}

.theme_title {
  font-family: OpenSans-Bold;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-left: 3px;
  text-align: center;
  color: #0f0d0e;
}

.theme_title::after {
  content: '';
  display: block;
  position: relative;
  height: 3px;
  width: 25%;
  max-width: 300px;
  left: 38%;
  top: 10px;
  background: #d7d7d7;
}

.theme_wrap {
  display: block;
  font-family: OpenSans-Bold;
  font-size: 1.4em;
  margin-top: 0;
  padding-top: 0.3em;
  padding-left: 0;
  list-style-type: none;
}

.theme_link1 {
  display: flex;
  position: relative;
  padding-top: 3.1rem;
}

.theme_link2 {
  display: flex;
  position: relative;
  padding-top: 2.7rem;
  justify-content: flex-start;
}

.theme_link3 {
  display: flex;
  position: relative;
  padding-top: 2.7rem;
  justify-content: flex-start;
}

.theme_link4 {
  display: flex;
  position: relative;
  padding-top: 2.7rem;
  justify-content: flex-start;
}

.theme_link5 {
  display: flex;
  position: relative;
  padding-top: 2.7rem;
  justify-content: flex-start;
}

.theme_link6 {
  display: flex;
  position: relative;
  padding-top: 2.7rem;
  justify-content: flex-start;
}

.number {
  position: relative;
  font-size: 0.86em;
  bottom: 0.5rem;
  color: #b59f5b;
}

.theme_link:nth-child(n+2) {
  padding-top: 2.2rem;
}

.theme_link_item {
  font-family: OpenSans-Bold;
  text-decoration: none;
  color: #000000;
}

.theme_link_item::after {
  content: '';
  display: block;
  height: 1px;
  position: relative;
  width: 270px;
  left: 0;
  top: 1.2rem;
  background: #d7d7d7;
}

.conteiner_our_products {
  display: flex;
  flex-direction: column;
  margin-top: 4.3rem;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1.4rem;
  padding-left: 1.4rem;
  max-width: 1200px;
}

.our_produts_title {
  margin: 0 auto;
  font-family: OpenSans-bold;
  font-size: 2em;
  text-transform: uppercase;
  color: #000000;
}

.our_produts_title::after {
  content: '';
  display: block;
  position: relative;
  height: 3px;
  width: 65%;
  max-width: 20em;
  left: 15%;
  top: 0.6rem;
  background: #d7d7d7;
}

.block_products_card {
  display: flex;
  margin-top: 4rem;
  justify-content: space-between;
}

.product_card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 1.2rem;
  padding-right: 1.9rem;
  align-items: center;
}

.product_img {
  position: absolute;
  z-index: 10;
  object-fit: cover;
}

.img_card {
  width: 30em;
}

.card_row {
  z-index: 15;
  display: flex;
  flex-direction: column;
  height: 16em;
  width: 31.3em;
  margin-top: 17.3rem;
  margin-bottom: 1.8rem;
  padding: 4.8rem 1rem 5.3rem 2rem;
  border: 3px solid #b59f5b;
}

.product_card_title {
  margin: 0;
  font-size: 2em;
  line-height: 1.6;
  font-family: OpenSans-bold;
  text-transform: uppercase;
  color: #000000;
}

.product_card_sutitle {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  font-size: 1.5em;
  font-family: OpenSans-Regular;
  text-transform: none;
  color: #0f0d0e;
}

.video_link {
  text-decoration: none;
  color: #b59f5b;
}

.card_price {
  display: flex;
  margin-top: 0.3rem;
  justify-content: space-between;
  align-items: flex-end;
}

.price_item {
  display: block;
}

.old_price {
  margin: 0;
  font-size: 1.4em;
  text-decoration: line-through;
}

.price {
  margin: 0;
  font-size: 2em;
}

.price_btn {
  margin-right: 1.3rem;
  padding: 1.6rem 2.8rem;
  font-size: 1.5em;
  border: none;
  text-transform: uppercase;
  background-color: #b59f5b;
  color: #ffffff;
  cursor: pointer;
}

.footer {
  display: block;
  margin-top: 4.6rem;
  padding-bottom: 4rem;
}

.footer_social {
  display: flex;
  max-width: 117.5em;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #f4f7f6;
  justify-content: center;
  align-items: center;
}

.social_link {
  position: relative;
  display: flex;
  padding: 0;
  align-items: center;
  list-style-type: none;
}
.img_cocial {
  width: 1.7em;
  height: 1.7em;
}

.social_twitter {
  width: 1.9em;
  height: 1.9em;
}

.social_pinterest {
  width: 1.9em;
  height: 1.9em;
  margin-left: 2rem;
}

.social_facebook {
  width: 1.8em;
  height: 1.8em;
  margin-left: 2rem;
}

.social_instagram {
  width: 1.6em;
  height: 1.6em;
  margin-left: 2rem;
}

.social_tumblr {
  width: 1.9em;
  height: 1.9em;
  margin-left: 2rem;
}

.copyright {
  margin-top: 7rem;
}

.copyright_title {
  font-family: OpenSans-Bold;
  font-size: 1.2em;
  padding-left: 1rem;
  text-align: center;
  align-items: center;
  color: #999999;
}

@media (max-width: 1199px) {
  html {
    font-size: 58.2%;
  }

  .header {
    padding-top: 5rem;
    background-image: url("../image/banner-bg-tablet.jpg");
    background-repeat: no-repeat;
  }

  .header_container {
    margin-left: auto;
    margin-right: auto;
  }

  .header_menu {
    display: block;
  }

  .menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0.5em;
    right: -10em;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 3;
  }

  .menu-btn>span,
  .menu-btn>span::before,
  .menu-btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition-duration: .25s;
  }

  .menu-btn>span::before {
    content: '';
    top: -8px;
  }

  .menu-btn>span::after {
    content: '';
    top: 8px;
  }

  .menu_list {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 35em;
    height: 50S%;
    margin: 0;
    padding: 5em 0;
    list-style: none;
    background-color: Blue;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
  }

  .menu_list_item {
    display: block;
    padding: 12px 24px;
    color: green;
    font-family: OpenSans-bold, sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }

  .menu_list_item:hover {
    background-color: #CFD8DC;
  }

  #menu-toggle {
    opacity: 0;
  }

  #menu-toggle:checked~.menu-btn>span {
    transform: rotate(45deg);
  }

  #menu-toggle:checked~.menu-btn>span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu-toggle:checked~.menu-btn>span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu-toggle:checked~.menu_list {
    visibility: visible;
    left: 0;
  }


  .aside_block {
    margin-left: 4rem;
  }

  .conteiner_our_products {
    font-size: 94%;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .trends {
    font-size: 68%;
  }

  .trends_card {
    width: 24.8%;
  }

  .block_products_card {
    flex-wrap: wrap;
  }
  .main_content_img {
    min-width: 50%;
  }

  .main_img_post {
    max-width: 100%;
  }

  .main_category {
    font-size: 65%;
  }

  .main_date {
    margin-top: 0.7rem;
  }

  .main_text {
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .popup_conteiner {
    font-size: 150%;
  }



  .menu_list_item {
    font-size: calc(9.4px + (3.6 + 3.6 * 0.7) * ((100vw - 320px) / 1660));
  }

  .trends {
    font-size: 150%;
  }

  .trends_card {
    width: 49.7%;
  }

  .trends_card:nth-child(n+3) {
    margin-top: 0.8%;
  }

  .container {
    width: 75em;
  }

  .main_content {
    flex-wrap: wrap;
  }

  .aside_block {
    margin-left: 4rem;
  }

  .theme_title::before {
    left: 6em;
  }

  .block_products_card {
    flex-wrap: wrap;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 37.5%;
  }
  .popup_conteiner {
    font-size: 120%;
  }

  .header {
    height: 45vh;
    width: 100%;
    padding-top: 21rem;
    background-image: url("../image/banner-mobile.jpg");
    background-repeat: no-repeat;
  }

  .header_logo {
    margin-left: auto;
    margin-right: auto;
    width: 25em;
  }

  .menu-btn {
    top: -14em;
    right: -1.4em;
    width: 13px;
    height: 13px;
  }

  .menu-btn>span::before {
    top: -4px;
  }

  .menu-btn>span::after {
    top: 4px;
  }

  .header_title {
    width: 30em;
    margin-top: 1rem;
    line-height: 1.5;
  }

  .header_title_text {
    font-size: 2.4em;
  }

  .trends {
    font-size: 200%;
  }

  .trends_card {
    margin-top: 1%;
    width: 100%;
  }

  .container {
    flex-wrap: wrap;
    width: 93%;
  }

  .main_img_post {
    width: 100vw;
  }

  .main_category {
    margin-top: 3rem;
    margin-left: 0;
    font-size: 150%;
  }

  .main_category::after {
    content: '';
    display: block;
    height: 3px;
    position: relative;
    width: 100%;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
    background: #eeeeee;
  }

  .main_news {
    width: 100%;
  }

  .main_block {
    max-width: 100%;
  }

  .aside_block {
    max-width: 100%;
    margin-left: 0;
    font-size: 150%
  }

  .aside_img {
    width: 25%;
  }
  .product_card {
    font-size: 155%;
  }

  .card_row {
    margin-top: 25.3rem;
  }

  .footer_social {
    font-size: 170%;
  }

  .copyright {
    font-size: 150%;
  }
}

@media (max-width: 640px) and (orientation:landscape) {
  .trends {
    font-size: 170%;
  }

  .trends_card {
    width: 49.7%;
  }
  .field_mail {
    width: 91%;
  }

  .product_card {
    font-size: 107%;
  }

  .card_row {
    margin-top: 16.3rem;
  }
}
